{% extends 'base.html.twig' %}

{% block title %}Sejours index{% endblock %}

{% block body %}



    <h1>Sejours index</h1>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Début de séjour</th>
                <th scope="col">Fin de séjour</th>
                <th scope="col">Prix</th>
                <th scope="col">Langue</th>
                <th scope="col">Age</th>
                <th scope="col">Pays</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sejour in sejours %}
            <tr>
                <td>{{ sejour.id }}</td>
                <td>{{ sejour.titre }}</td>
                <td>{{ sejour.start_date ? sejour.start_date|date('d-m-Y') : '' }}</td>
                <td>{{ sejour.end_date ? sejour.end_date|date('d-m-Y') : '' }}</td>
                <td>{{ sejour.prix }}</td>
                <td>{{ sejour.langue }}</td>
                <td>{{ sejour.age }}</td>
                <td>{{ sejour.pays }}</td>
                <td>
                    <a href="{{ path('sejours_show', {'id': sejour.id}) }}">show</a>
                    <a href="{{ path('sejours_edit', {'id': sejour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sejours_new') }}">Create new</a>


{% endblock %}
