{% extends 'base.html.twig' %}

{% block title %}Sejours index{% endblock %}

{% block body %}
    <h1>Sejours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sejours</th>
                <th>Duree</th>
                <th>Prix</th>
                <th>Langue</th>
                <th>Age</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sejour in sejours %}
            <tr>
                <td>{{ sejour.id }}</td>
                <td>{{ sejour.sejours }}</td>
                <td>{{ sejour.duree ? sejour.duree|date('Y-m-d') : '' }}</td>
                <td>{{ sejour.prix }}</td>
                <td>{{ sejour.langue }}</td>
                <td>{{ sejour.age }}</td>
                <td>{{ sejour.pays }}</td>
                <td>
                    <a href="{{ path('sejours_show', {'id': sejour.id}) }}">show</a>
                    <a href="{{ path('sejours_edit', {'id': sejour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sejours_new') }}">Create new</a>
{% endblock %}
