{% extends 'base.html.twig' %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('img/logo.jpg') }}" style="border-radius: 50%;" alt="Logo" width="70" height="70" class="d-inline-block align-top"> <br/>ochellengues
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('app_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home')}}#ance">Publier</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publier</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('home')}}#ance">Annonce</a>
                                    <a class="dropdown-item" href="{{ path('home')}}#evt">Evenement</a>
                                </div>
                            </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user') }}">Profil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock header %}



<div class="afficherbar" style="display:none;">
    <div class="form-filter-wrap" id="navigation-lists">
        <form class="form-filter" action="#" onsubmit="return false;" id="navigation-bar-search-form">
            <div class="input-prepend">
                <span class="add-on">en</span>
                <select name="language-list" id="language-list-nav" class="input-filter-language js-customSelect" autocomplete="off">
                    <option value="-1" selected="selected">Langue</option>
                    <option value="3"  data-bar-item-type="language" data-bo-label="German">Allemand</option>
                    <option value="1"  data-bar-item-type="language" data-bo-label="English">Anglais</option>
                    <option value="10"  data-bar-item-type="language" data-bo-label="Arabic">Arabe</option>
                    <option value="11"  data-bar-item-type="language" data-bo-label="Danish">Danois</option>
                    <option value="4"  data-bar-item-type="language" data-bo-label="Spanish">Espagnol</option>
                    <option value="14"  data-bar-item-type="language" data-bo-label="Finnish">Finnois</option>
                    <option value="2"  data-bar-item-type="language" data-bo-label="French">Fran&#231;ais</option>
                    <option value="17"  data-bar-item-type="language" data-bo-label="Hungarian">Hongrois</option>
                    <option value="5"  data-bar-item-type="language" data-bo-label="Italian">Italien</option>
                    <option value="7"  data-bar-item-type="language" data-bo-label="Japanese">Japonais</option>
                    <option value="6"  data-bar-item-type="language" data-bo-label="Dutch">N&#233;erlandais</option>
                    <option value="13"  data-bar-item-type="language" data-bo-label="Norwegian">Norv&#233;gien</option>
                    <option value="19"  data-bar-item-type="language" data-bo-label="Polish">Polonais</option>
                    <option value="15"  data-bar-item-type="language" data-bo-label="Portuguese">Portugais</option>
                    <option value="9"  data-bar-item-type="language" data-bo-label="Russian">Russe</option>
                    <option value="12"  data-bar-item-type="language" data-bo-label="Swedish">Su&#233;dois</option>
                    <option value="20"  data-bar-item-type="language" data-bo-label="Czech">Tch&#232;que</option>
                    <option value="24" disabled=&quot;disabled&quot; data-bar-item-type="language" data-bo-label="Estonian">Estonien</option>
                </select>
            </div>
            <div class="input-prepend">
                <span class="add-on">en</span>
                <select name="country-list" id="country-list-nav" class="input-filter-location js-customSelect" autocomplete="off">
                    <option value="-1" selected="selected">Destination</option>
                    <option value="35"  data-bar-item-type="country" data-bo-label="South Africa">Afrique du Sud</option>
                    <option value="16"  data-bar-item-type="country" data-bo-label="Germany">Allemagne</option>
                    <option value="112"  data-bar-item-type="country" data-bo-label="England">Angleterre</option>
                    <option value="30"  data-bar-item-type="country" data-bo-label="Argentina">Argentine</option>
                    <option value="8"  data-bar-item-type="country" data-bo-label="Australia">Australie</option>
                    <option value="25"  data-bar-item-type="country" data-bo-label="Austria">Autriche</option>
                    <option value="31"  data-bar-item-type="country" data-bo-label="Brazil">Br&#233;sil</option>
                    <option value="6"  data-bar-item-type="country" data-bo-label="Canada / English-speaking">Canada anglophone</option>
                    <option value="69"  data-bar-item-type="country" data-bo-label="Canada / French-speaking">Canada francophone</option>
                    <option value="32"  data-bar-item-type="country" data-bo-label="Chile">Chili</option>
                    <option value="66"  data-bar-item-type="country" data-bo-label="Cyprus">Chypre</option>
                    <option value="13"  data-bar-item-type="country" data-bo-label="Costa Rica">Costa Rica</option>
                    <option value="88"  data-bar-item-type="country" data-bo-label="Cuba">Cuba</option>
                    <option value="28"  data-bar-item-type="country" data-bo-label="Denmark">Danemark</option>
                    <option value="110"  data-bar-item-type="country" data-bo-label="Scotland">&#201;cosse</option>
                    <option value="50"  data-bar-item-type="country" data-bo-label="United Arab Emirates">&#201;mirats Arabes Unis</option>
                    <option value="12"  data-bar-item-type="country" data-bo-label="Ecuador">&#201;quateur</option>
                    <option value="9"  data-bar-item-type="country" data-bo-label="Spain">Espagne</option>
                    <option value="109"  data-bar-item-type="country" data-bo-label="United States">&#201;tats-Unis</option>
                    <option value="20"  data-bar-item-type="country" data-bo-label="Finland">Finlande</option>
                    <option value="47"  data-bar-item-type="country" data-bo-label="France">France</option>
                    <option value="111"  data-bar-item-type="country" data-bo-label="Great Britain">Grande-Bretagne</option>
                    <option value="10"  data-bar-item-type="country" data-bo-label="Guatemala">Guatemala</option>
                    <option value="22"  data-bar-item-type="country" data-bo-label="Hungary">Hongrie</option>
                    <option value="3"  data-bar-item-type="country" data-bo-label="Ireland">Irlande</option>
                    <option value="15"  data-bar-item-type="country" data-bo-label="Italy">Italie</option>
                    <option value="19"  data-bar-item-type="country" data-bo-label="Japan">Japon</option>
                    <option value="52"  data-bar-item-type="country" data-bo-label="Latvia">Lettonie</option>
                    <option value="4"  data-bar-item-type="country" data-bo-label="Malta">Malte</option>
                    <option value="54"  data-bar-item-type="country" data-bo-label="Mexico">Mexique</option>
                    <option value="34"  data-bar-item-type="country" data-bo-label="Norway">Norv&#232;ge</option>
                    <option value="7"  data-bar-item-type="country" data-bo-label="New Zealand">Nouvelle-Z&#233;lande</option>
                    <option value="14"  data-bar-item-type="country" data-bo-label="Netherlands">Pays-Bas</option>
                    <option value="11"  data-bar-item-type="country" data-bo-label="Peru">P&#233;rou</option>
                    <option value="23"  data-bar-item-type="country" data-bo-label="Poland">Pologne</option>
                    <option value="21"  data-bar-item-type="country" data-bo-label="Portugal">Portugal</option>
                    <option value="24"  data-bar-item-type="country" data-bo-label="Czech Republic">R&#233;p. Tch&#232;que</option>
                    <option value="2"  data-bar-item-type="country" data-bo-label="United Kingdom">Royaume-Uni</option>
                    <option value="17"  data-bar-item-type="country" data-bo-label="Russia">Russie</option>
                    <option value="27"  data-bar-item-type="country" data-bo-label="Sweden">Su&#232;de</option>
                    <option value="5"  data-bar-item-type="country" data-bo-label="USA">USA</option>
                    <option value="41" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Benin">B&#233;nin</option>
                    <option value="77" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Cambodia">Cambodge</option>
                    <option value="113" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Estonia">Estonie</option>
                    <option value="43" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Ghana">Ghana</option>
                    <option value="81" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Indonesia">Indon&#233;sie</option>
                    <option value="103" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Malawi">Malawi</option>
                    <option value="36" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Namibia">Namibie</option>
                    <option value="40" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Senegal">S&#233;n&#233;gal</option>
                    <option value="49" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Sri Lanka">Sri Lanka</option>
                    <option value="83" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Swaziland">Swaziland (Eswatini)</option>
                    <option value="44" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Tanzania">Tanzanie</option>
                    <option value="59" disabled=&quot;disabled&quot; data-bar-item-type="country" data-bo-label="Zambia">Zambie</option>
                </select>
            </div>
            <div class="input-prepend input-city-show">
                <span class="add-on">Ville</span>
                <select name="city-list" id="city-list-nav" class="input-filter-location js-customSelect" autocomplete="off">
                    <option value="-1" selected="selected">Ville</option>
                    <option value="51"  data-bar-item-type="city" data-bo-label="Alicante">Alicante</option>
                    <option value="451"  data-bar-item-type="city" data-bo-label="Amsterdam">Amsterdam</option>
                    <option value="58"  data-bar-item-type="city" data-bo-label="Antigua">Antigua</option>
                    <option value="162"  data-bar-item-type="city" data-bo-label="Arcachon">Arcachon</option>
                    <option value="496"  data-bar-item-type="city" data-bo-label="Athlone">Athlone</option>
                    <option value="38"  data-bar-item-type="city" data-bo-label="Auckland">Auckland</option>
                    <option value="270"  data-bar-item-type="city" data-bo-label="Augsburg">Augsburg</option>
                    <option value="52"  data-bar-item-type="city" data-bo-label="Barcelona">Barcelone</option>
                    <option value="430"  data-bar-item-type="city" data-bo-label="Bath">Bath</option>
                    <option value="67"  data-bar-item-type="city" data-bo-label="Berlin">Berlin</option>
                    <option value="411"  data-bar-item-type="city" data-bo-label="Biarritz">Biarritz</option>
                    <option value="306"  data-bar-item-type="city" data-bo-label="Bordeaux">Bordeaux</option>
                    <option value="15"  data-bar-item-type="city" data-bo-label="Boston">Boston</option>
                    <option value="26"  data-bar-item-type="city" data-bo-label="Bournemouth">Bournemouth</option>
                    <option value="302"  data-bar-item-type="city" data-bo-label="Bray">Bray</option>
                    <option value="27"  data-bar-item-type="city" data-bo-label="Brighton">Brighton</option>
                    <option value="41"  data-bar-item-type="city" data-bo-label="Brisbane">Brisbane</option>
                    <option value="144"  data-bar-item-type="city" data-bo-label="Bristol">Bristol</option>
                    <option value="84"  data-bar-item-type="city" data-bo-label="Buenos Aires">Buenos Aires</option>
                    <option value="200"  data-bar-item-type="city" data-bo-label="Byron Bay">Byron Bay</option>
                    <option value="199"  data-bar-item-type="city" data-bo-label="Cadiz">Cadix</option>
                    <option value="42"  data-bar-item-type="city" data-bo-label="Cairns">Cairns</option>
                    <option value="449"  data-bar-item-type="city" data-bo-label="Calgary">Calgary</option>
                    <option value="28"  data-bar-item-type="city" data-bo-label="Cambridge">Cambridge</option>
                    <option value="156"  data-bar-item-type="city" data-bo-label="Canterbury">Canterbury</option>
                    <option value="497"  data-bar-item-type="city" data-bo-label="Carlingford">Carlingford</option>
                    <option value="301"  data-bar-item-type="city" data-bo-label="Chester">Chester</option>
                    <option value="71"  data-bar-item-type="city" data-bo-label="Koln">Cologne</option>
                    <option value="1"  data-bar-item-type="city" data-bo-label="Cork">Cork</option>
                    <option value="59"  data-bar-item-type="city" data-bo-label="Cuzco">Cuzco</option>
                    <option value="2"  data-bar-item-type="city" data-bo-label="Dublin">Dublin</option>
                    <option value="264"  data-bar-item-type="city" data-bo-label="Eastbourne">Eastbourne</option>
                    <option value="145"  data-bar-item-type="city" data-bo-label="Edinburgh">Edimbourg</option>
                    <option value="463"  data-bar-item-type="city" data-bo-label="Faro">Faro</option>
                    <option value="72"  data-bar-item-type="city" data-bo-label="Frankfurt">Francfort</option>
                    <option value="204"  data-bar-item-type="city" data-bo-label="Fukuoka">Fukuoka</option>
                    <option value="43"  data-bar-item-type="city" data-bo-label="Gold Coast">Gold Coast</option>
                    <option value="117"  data-bar-item-type="city" data-bo-label="Hamburg">Hambourg</option>
                    <option value="69"  data-bar-item-type="city" data-bo-label="Heidelberg">Heidelberg</option>
                    <option value="289"  data-bar-item-type="city" data-bo-label="Heredia">Heredia</option>
                    <option value="276"  data-bar-item-type="city" data-bo-label="Honolulu">Honolulu</option>
                    <option value="510"  data-bar-item-type="city" data-bo-label="Kyoto">Kyoto</option>
                    <option value="427"  data-bar-item-type="city" data-bo-label="La Habana">La Havane</option>
                    <option value="183"  data-bar-item-type="city" data-bo-label="Valletta">La Valette</option>
                    <option value="534"  data-bar-item-type="city" data-bo-label="Larnaca">Larnaca</option>
                    <option value="93"  data-bar-item-type="city" data-bo-label="Cape Town">Le Cap</option>
                    <option value="83"  data-bar-item-type="city" data-bo-label="Lima">Lima</option>
                    <option value="462"  data-bar-item-type="city" data-bo-label="Lisbon">Lisbonne</option>
                    <option value="300"  data-bar-item-type="city" data-bo-label="Liverpool">Liverpool</option>
                    <option value="4"  data-bar-item-type="city" data-bo-label="London">Londres</option>
                    <option value="150"  data-bar-item-type="city" data-bo-label="Long Beach">Long Beach</option>
                    <option value="16"  data-bar-item-type="city" data-bo-label="Los Angeles">Los Angeles</option>
                    <option value="53"  data-bar-item-type="city" data-bo-label="Madrid">Madrid</option>
                    <option value="85"  data-bar-item-type="city" data-bo-label="Malaga">Malaga</option>
                    <option value="152"  data-bar-item-type="city" data-bo-label="Manchester">Manchester</option>
                    <option value="290"  data-bar-item-type="city" data-bo-label="Maroochydore (Sunshine Coast)">Maroochydore (Sunshine Coast)</option>
                    <option value="287"  data-bar-item-type="city" data-bo-label="Montanita">Montanita</option>
                    <option value="111"  data-bar-item-type="city" data-bo-label="Montpellier">Montpellier</option>
                    <option value="81"  data-bar-item-type="city" data-bo-label="Montreal">Montr&#233;al</option>
                    <option value="74"  data-bar-item-type="city" data-bo-label="Moscow">Moscou</option>
                    <option value="159"  data-bar-item-type="city" data-bo-label="Msida">Msida</option>
                    <option value="499"  data-bar-item-type="city" data-bo-label="Mullingar">Mullingar</option>
                    <option value="68"  data-bar-item-type="city" data-bo-label="Munich">Munich</option>
                    <option value="353"  data-bar-item-type="city" data-bo-label="N/A - Ireland / Family Stay">N/A - S&#233;jour en famille</option>
                    <option value="372"  data-bar-item-type="city" data-bo-label="N/A - Italy / Family Stay">N/A - S&#233;jour en famille</option>
                    <option value="494"  data-bar-item-type="city" data-bo-label="N/A - United Kingdom / Family Stay">N/A - S&#233;jour en famille</option>
                    <option value="119"  data-bar-item-type="city" data-bo-label="N/A - Norway / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="166"  data-bar-item-type="city" data-bo-label="N/A - Austria / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="167"  data-bar-item-type="city" data-bo-label="N/A - Chile / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="169"  data-bar-item-type="city" data-bo-label="N/A - Czech Republic / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="173"  data-bar-item-type="city" data-bo-label="N/A - Sweden / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="174"  data-bar-item-type="city" data-bo-label="N/A - United Arab Emirates / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="176"  data-bar-item-type="city" data-bo-label="N/A - Finland  / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="178"  data-bar-item-type="city" data-bo-label="N/A - Portugal / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="179"  data-bar-item-type="city" data-bo-label="N/A - Hungary / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="180"  data-bar-item-type="city" data-bo-label="N/A - Poland / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="330"  data-bar-item-type="city" data-bo-label="N/A - Netherlands / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="332"  data-bar-item-type="city" data-bo-label="N/A - Australia / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="333"  data-bar-item-type="city" data-bo-label="N/A - Brazil / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="334"  data-bar-item-type="city" data-bo-label="N/A - Canada / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="336"  data-bar-item-type="city" data-bo-label="N/A - Costa Rica / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="337"  data-bar-item-type="city" data-bo-label="N/A - Denmark / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="339"  data-bar-item-type="city" data-bo-label="N/A - France / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="340"  data-bar-item-type="city" data-bo-label="N/A - Germany / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="341"  data-bar-item-type="city" data-bo-label="N/A - Ireland / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="342"  data-bar-item-type="city" data-bo-label="N/A - Italy / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="343"  data-bar-item-type="city" data-bo-label="N/A - Japan / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="344"  data-bar-item-type="city" data-bo-label="N/A - Malta / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="345"  data-bar-item-type="city" data-bo-label="N/A - South Africa / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="346"  data-bar-item-type="city" data-bo-label="N/A - Spain / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="347"  data-bar-item-type="city" data-bo-label="N/A - United Kingdom / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="348"  data-bar-item-type="city" data-bo-label="N/A - USA / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeur</option>
                    <option value="331"  data-bar-item-type="city" data-bo-label="N/A - New Zealand / Private Courses - Teacher&#39;s Home">N/A - S&#233;jour et cours priv&#233;s chez le professeurN/A - Verblijf en priv&#233;-taallessen bij de leraar</option>
                    <option value="24"  data-bar-item-type="city" data-bo-label="New York">New York</option>
                    <option value="112"  data-bar-item-type="city" data-bo-label="Nice">Nice</option>
                    <option value="271"  data-bar-item-type="city" data-bo-label="Noosa Heads">Noosa Heads</option>
                    <option value="5"  data-bar-item-type="city" data-bo-label="Nottingham">Nottingham</option>
                    <option value="243"  data-bar-item-type="city" data-bo-label="Oundle">Oundle</option>
                    <option value="30"  data-bar-item-type="city" data-bo-label="Oxford">Oxford</option>
                    <option value="108"  data-bar-item-type="city" data-bo-label="Paris">Paris</option>
                    <option value="45"  data-bar-item-type="city" data-bo-label="Perth">Perth</option>
                    <option value="244"  data-bar-item-type="city" data-bo-label="Petworth">Petworth</option>
                    <option value="198"  data-bar-item-type="city" data-bo-label="Playa del Carmen">Playa del Carmen</option>
                    <option value="288"  data-bar-item-type="city" data-bo-label="Playa Samara">Playa Samara</option>
                    <option value="263"  data-bar-item-type="city" data-bo-label="Riga">Riga</option>
                    <option value="64"  data-bar-item-type="city" data-bo-label="Roma">Rome</option>
                    <option value="161"  data-bar-item-type="city" data-bo-label="Saint Malo">Saint-Malo</option>
                    <option value="55"  data-bar-item-type="city" data-bo-label="Salamanca">Salamanque</option>
                    <option value="21"  data-bar-item-type="city" data-bo-label="San Diego">San Diego</option>
                    <option value="34"  data-bar-item-type="city" data-bo-label="San Francisco">San Francisco</option>
                    <option value="61"  data-bar-item-type="city" data-bo-label="San Jose">San Jose</option>
                    <option value="304"  data-bar-item-type="city" data-bo-label="Santa Monica">Santa Monica</option>
                    <option value="56"  data-bar-item-type="city" data-bo-label="Sevilla">S&#233;ville</option>
                    <option value="7"  data-bar-item-type="city" data-bo-label="Sliema">Sliema</option>
                    <option value="498"  data-bar-item-type="city" data-bo-label="Sligo">Sligo</option>
                    <option value="6"  data-bar-item-type="city" data-bo-label="Southampton">Southampton</option>
                    <option value="265"  data-bar-item-type="city" data-bo-label="St Julian&#39;s">St Julian&#39;s</option>
                    <option value="32"  data-bar-item-type="city" data-bo-label="St Paul&#39;s Bay">St Paul&#39;s Bay</option>
                    <option value="73"  data-bar-item-type="city" data-bo-label="St Petersburg">St Petersburg</option>
                    <option value="46"  data-bar-item-type="city" data-bo-label="Sydney">Sydney</option>
                    <option value="279"  data-bar-item-type="city" data-bo-label="Tokyo">Tokyo</option>
                    <option value="37"  data-bar-item-type="city" data-bo-label="Toronto">Toronto</option>
                    <option value="412"  data-bar-item-type="city" data-bo-label="Toulouse">Toulouse</option>
                    <option value="57"  data-bar-item-type="city" data-bo-label="Valencia">Valence</option>
                    <option value="19"  data-bar-item-type="city" data-bo-label="Vancouver">Vancouver</option>
                    <option value="193"  data-bar-item-type="city" data-bo-label="Victoria">Victoria</option>
                    <option value="62"  data-bar-item-type="city" data-bo-label="Vught">Vught</option>
                    <option value="297"  data-bar-item-type="city" data-bo-label="York">York</option>
                    <option value="104" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Accra">Accra</option>
                    <option value="424" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Alberta_P">Alberta (Province)</option>
                    <option value="441" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="England_R">Angleterre</option>
                    <option value="539" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Ardee">Ardee</option>
                    <option value="214" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Arizona_S">Arizona (Etat)</option>
                    <option value="208" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="South Australia_S">Australie M&#233;ridionale (Etat)</option>
                    <option value="368" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bali (Nusa Penida)">Bali (Nusa Penida)</option>
                    <option value="303" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bali (Ubud)">Bali (Ubud)</option>
                    <option value="359" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Ballyjamesduff">Ballyjamesduff</option>
                    <option value="223" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bay of Islands_R">Bay Of Islands (R&#233;gion)</option>
                    <option value="227" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bay of Plenty_R">Bay of Plenty (R&#233;gion)</option>
                    <option value="357" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bexhill">Bexhill</option>
                    <option value="537" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Blarney">Blarney</option>
                    <option value="355" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Boston">Boston</option>
                    <option value="366" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bremen">Br&#234;me</option>
                    <option value="354" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Brockenhurst">Brockenhurst</option>
                    <option value="323" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Bucklands Beach">Bucklands Beach</option>
                    <option value="213" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="California_S">Californie (Etat)</option>
                    <option value="540" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Cavan">Cavan</option>
                    <option value="356" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Chichester">Chichester</option>
                    <option value="39" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Christchurch">Christchurch</option>
                    <option value="363" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Clones">Clones</option>
                    <option value="536" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Cobh">Cobh</option>
                    <option value="518" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Koblenz">Coblence</option>
                    <option value="222" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="British Columbia_P">Colombie Britannique (Province)</option>
                    <option value="116" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Colorado_S">Colorado (Etat)</option>
                    <option value="86" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Cordoba">Cordoba</option>
                    <option value="102" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Cotonou">Cotonou</option>
                    <option value="364" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Crosshaven">Crosshaven</option>
                    <option value="101" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Dakar">Dakar</option>
                    <option value="475" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Damaraland">Damaraland</option>
                    <option value="542" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Dresden">Dresde</option>
                    <option value="231" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Dunedin">Dunedin</option>
                    <option value="440" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Scotland_R">Ecosse</option>
                    <option value="285" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Exeter">Exeter</option>
                    <option value="438" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Ezulwini">Ezulwini</option>
                    <option value="232" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Florida_S">Floride (Etat)</option>
                    <option value="154" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Galway">Galway</option>
                    <option value="538" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Granard">Granard</option>
                    <option value="458" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Hanguranketha">Hanguranketha</option>
                    <option value="149" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Hastings">Hastings</option>
                    <option value="401" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Idaho_S">Idaho</option>
                    <option value="212" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Illinois_S">Illinois (Etat)</option>
                    <option value="322" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Kamo">Kamo</option>
                    <option value="311" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Kandy">Kandy</option>
                    <option value="403" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Kansas_S">Kansas</option>
                    <option value="382" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Kells">Kells</option>
                    <option value="388" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Kruger_R">Kruger</option>
                    <option value="434" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Langley">Langley</option>
                    <option value="234" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Livingstone">Livingstone</option>
                    <option value="376" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Maine_S">Maine (Etat)</option>
                    <option value="219" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Manitoba_P">Manitoba (Province)</option>
                    <option value="210" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Massachusetts_S">Massachusetts (Etat)</option>
                    <option value="394" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Michigan_S">Michigan</option>
                    <option value="361" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Monaghan">Monaghan</option>
                    <option value="476" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Murcia">Murcie</option>
                    <option value="480" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Mzuzu">Mzuzu</option>
                    <option value="164" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - South Africa">N/A - Afrique du Sud</option>
                    <option value="142" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Germany">N/A - Allemagne</option>
                    <option value="120" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Argentina">N/A - Argentine</option>
                    <option value="132" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Australia">N/A - Australie</option>
                    <option value="143" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Brazil">N/A - Br&#233;sil</option>
                    <option value="118" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Canada">N/A - Canada</option>
                    <option value="515" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Chile">N/A - Chili</option>
                    <option value="172" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Denmark">N/A - Danemark</option>
                    <option value="123" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Spain">N/A - Espagne</option>
                    <option value="514" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Estonia">N/A - Estonie</option>
                    <option value="131" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - USA">N/A - Etats-Unis</option>
                    <option value="126" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Ireland">N/A - Irlande</option>
                    <option value="125" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Italy">N/A - Italie</option>
                    <option value="141" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Japan">N/A - Japon</option>
                    <option value="489" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Mexico">N/A - Mexique</option>
                    <option value="492" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Norway">N/A - Norv&#232;ge</option>
                    <option value="133" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - New Zealand">N/A - Nouvelle-Z&#233;lande</option>
                    <option value="128" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Netherlands">N/A - Pays-Bas</option>
                    <option value="122" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - United Kingdom">N/A - Royaume Uni</option>
                    <option value="512" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="N/A - Sweden">N/A - Su&#232;de</option>
                    <option value="392" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Nevada_S">Nevada (Etat)</option>
                    <option value="488" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="New Jersey_S">New Jersey (Etat)</option>
                    <option value="216" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="New York_S">New York (Etat)</option>
                    <option value="464" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="New Brunswick_P">Nouveau-Brunswick</option>
                    <option value="217" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Nova Scotia_P">Nouvelle Ecosse (Province)</option>
                    <option value="207" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="New South Wales_S">Nouvelle-Galles du Sud (Etat)</option>
                    <option value="470" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Nurnberg">Nuremberg</option>
                    <option value="517" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Oldenburg">Oldenbourg</option>
                    <option value="423" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Ontario_P">Ontario (Province)</option>
                    <option value="409" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Oregon_S">Oregon</option>
                    <option value="218" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Ottawa">Ottawa</option>
                    <option value="405" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Pennsylvania_S">Pennsylvanie</option>
                    <option value="241" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Port Elizabeth">Port Elizabeth</option>
                    <option value="189" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Portsmouth">Portsmouth</option>
                    <option value="389" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Potsdam">Potsdam</option>
                    <option value="506" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Puyo">Puyo</option>
                    <option value="205" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Queensland_S">Queensland (Etat)</option>
                    <option value="40" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Queenstown">Queenstown</option>
                    <option value="453" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Rangiora">Rangiora</option>
                    <option value="495" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Raumati Beach">Raumati Beach</option>
                    <option value="272" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Samroang">Samroang</option>
                    <option value="444" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Sodwana Bay">Sodwana Bay</option>
                    <option value="194" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Surrey">Surrey</option>
                    <option value="209" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Tasmania_S">Tasmanie</option>
                    <option value="321" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Tauranga">Tauranga</option>
                    <option value="541" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Newfoundland and Labrador_P">Terre-Neuve-et-Labrador (Province)</option>
                    <option value="406" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Texas_S">Texas</option>
                    <option value="66" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Turin">Turin</option>
                    <option value="221" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Vancouver Island_R">Vancouver Island (R&#233;gion)</option>
                    <option value="317" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Vermont_S">Vermont (Etat)</option>
                    <option value="206" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Victoria_S">Victoria (Etat)</option>
                    <option value="358" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Virginia">Virginia</option>
                    <option value="211" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Washington_S">Washington (Etat)</option>
                    <option value="325" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Webster">Webster</option>
                    <option value="229" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Wellington">Wellington</option>
                    <option value="385" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Weymouth">Weymouth</option>
                    <option value="273" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Whistler_R">Whistler (R&#233;gion)</option>
                    <option value="299" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Worthing">Worthing</option>
                    <option value="236" disabled=&quot;disabled&quot; data-bar-item-type="city" data-bo-label="Zanzibar">Zanzibar</option>
                </select>
            </div>
            <button class="btn btn-primary submit" title="Afficher les r&#233;sultats" onclick="submittedSearchBarDestination();">
                <i class="sprite-go-arrow"></i>
            </button>
        </form>
        <button class="btnfermer">Fermer</button>
    </div>
</div>