{% extends 'base.html.twig' %}

{% block title %}Sejours{% endblock %}

{% block body %}
    <h1>Sejours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sejour.id }}</td>
            </tr>
            <tr>
                <th>Sejours</th>
                <td>{{ sejour.sejours }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sejour.duree ? sejour.duree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ sejour.prix }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ sejour.langue }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ sejour.age }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ sejour.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sejours_index') }}">back to list</a>

    <a href="{{ path('sejours_edit', {'id': sejour.id}) }}">edit</a>

    {{ include('sejours/_delete_form.html.twig') }}
{% endblock %}
