{% extends 'base.html.twig' %}

{% block title %}Sejours{% endblock %}

{% block body %}


    <h1>Sejours</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ sejour.id }}</td>
            </tr>
            <tr>
                <th scope="col">Titre</th>
                <td>{{ sejour.titre }}</td>
            </tr>
            <tr>
                <th scope="col">Début de séjour</th>
                <td>{{ sejour.start_date ? sejour.start_date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th scope="col">Fin de séjour</th>
                <td>{{ sejour.end_date ? sejour.end_date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th scope="col">Prix</th>
                <td>{{ sejour.prix }}</td>
            </tr>
            <tr>
                <th scope="col">Langue</th>
                <td>{{ sejour.langue }}</td>
            </tr>
            <tr>
                <th scope="col">Age</th>
                <td>{{ sejour.age }}</td>
            </tr>
            <tr>
                <th scope="col">Pays</th>
                <td>{{ sejour.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sejours_index') }}">back to list</a>

    <a href="{{ path('sejours_edit', {'id': sejour.id}) }}">edit</a>

    {{ include('sejours/_delete_form.html.twig') }}


{% endblock %}
