{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}





{% block body %}
   {% block header %}


        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a  class="navbar-brand">Bienvenue chez la Rochellengues</a>
            <div class="navbar-menu ml-auto">
                <a class="navbar-link" href="{{ path('home') }}">Accueil</a>
                <a class="navbar-link" href="{{ path('user') }}">Retour</a>
                <a class="navbar-link"  href="{{ path('app_logout') }}">Logout</a>


            </div>
        </nav>
    {% endblock header %}




    <h1>Annonces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Images</th>
                <th>Update_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.images }}</td>
                <td>{{ annonce.updateAt ? annonce.updateAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('annonces_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('annonces_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annonces_new') }}">Create new</a>
{% endblock %}
