{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('message') %}
            <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-4">
                <h1 class=page-header>Nous contacter</h1>
                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}
                <a href="{{ path('home') }}" class="btn blue">Retour</a>
            </div>

        </div>
    </div>
{% endblock %}
